html {
    background-color: aliceblue;
  }
  
  body {
  margin-left: 22vw;
  margin-right: 22vw;}
  
  h1,h2 {
    font-weight: 300;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
  }
  
  h1 {
    font-size: 2em;
    color: blueviolet ;
    text-shadow: 2px 2px 1px yellow;
  }
  
  h2 {
    font-size: 1.5em;
    color: blueviolet;
    text-shadow: 2px 2px 1px yellow;
  }
  
  .quote {
    font-family: cursive;
    font-weight: 100;
    color: blueviolet;
    text-shadow: 4px 4px 50px black;
    font-size: 2.5em;
    text-align: center;
    margin-top: 3em;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: blueviolet;
      padding: 1em;
      box-shadow: 0 2.5px 4px;
      
  }
  
  .HAPlinks {
        font-size: 1.25em;
  }
  
  .HAPlinks a {
    text-decoration: none;
    color: gold;
  }
  
  .name {
    font-size: 2em;
    color: gold;
  }
  
  main {
    background-color: white;
    display: block;
    box-shadow: 0 0 12px -2px;
    min-height: 100vh;
    padding-top: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  
  .VibrantArt {
    display: inline-block;
    width: 13vw;
    height: 18vw;
    padding: 30px;
  }
  
  .Albums {
    display: inline-block;
    width: 13vw;
    height: 18vw;
    padding: 30px;
  }

  .projects {
    box-shadow: 0 10px 100px -2px purple;
  }

  .projectstitle {
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding-top: 15px;
  }

  .projecttext {
    font-size: 20px;
    font-family: cursive;
  }

  .Photos {
    width: 16vw;
    height: 18vw;
    padding: 15px;
  }

