html {
    background-color: aliceblue;
  }
  
  /* body { */
  margin-left: 20vw;
  margin-right: 20vw;}
  
  h1,h2 {
    font-weight: 300;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
  }
  
  h1 {
    font-size: 2em;
    color: blueviolet ;
    text-shadow: 2px 2px 1px yellow;
  }
  
  h2 {
    font-size: 1.5em;
    color: blueviolet;
    text-shadow: 2px 2px 1px yellow;
  }
  
  .quote {
    font-family: cursive;
    font-weight: 100;
    color: blueviolet;
    text-shadow: 4px 4px 50px black;
    font-size: 2.5em;
    text-align: center;
    margin-top: 3em;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: blueviolet;
      padding: 1em;
      box-shadow: 0 2.5px 4px;
      
  }
  
  .HAPlinks {
        font-size: 1.25em;
  }
  
  .HAPlinks a {
    text-decoration: none;
    color: gold;
  }
  
  .name {
    font-size: 2em;
    color: gold;
  }
  
  main {
    background-color: white;
    display: block;
    box-shadow: 0 0 12px -2px;
    min-height: 100vh;
    padding-top: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  
  .VibrantArt {
    display: inline-block;
    width: 13vw;
    height: 18vw;
    padding: 30px;
    margin-left: 20px;
  }
  
  .Albums {
    display: inline-block;
    width: 13vw;
    height: 18vw;
    padding: 30px;
    margin-left: 20px;
  }

  .projects {
    box-shadow: 0 10px 100px -2px purple;
  }

  .projectstitle {
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding-top: 15px;
  }

  .projecttext {
    font-size: 20px;
    font-family: cursive;
  }

  .Photos {
    padding: 15px;
    width: 16vw;
    height: 18vw;
  }

  .updates {
    color: blueviolet
  }

/* footer { 
   max-width: 1000px;
} */

.form-boxes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5rem 0;
  align-items: center;
}

/* .form-boxes label {
} */


/***************** Media Queries *******************/

/* Mobile Screens Practice */
/* basically removes extra text above boxes and leaves only text inside below 500px */
@media screen and (max-width: 500px) {
  .form-boxes label {
display: block;
display: none;
  }
}

/* @media screen and (max-width: 1000px) {
  .form-boxes {
    flex-direction: row;
  }

  .form-boxes label {
    flex-basis: 29rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .form-boxes button {
    flex-basis: 29rem;
  }
} */